<div *ngIf="auth.user | async as user; else login" class="loginDiv">
  <!--SE EJECUTARÁ SOLO CUANDO EL USER ESTÉ LOGEADO
  PONDRÁ LA VARIABLE AUTH.USER EN UNA LOCAL LLAMADA "USER", LA "SINTETIZARÁ"-->
  <!--SI EL USER NO ESTÁ LOGEADO, SE PASARÁ A UNA PLANTILLA "LOGIN" DEFINIDA MÁS ABAJO-->

  {{user.uid}} - {{user.email}}

</div>
<!--CUANDO SE PULSE EL BOTÓN, SE LOGEARÁ EL USER-->
<ng-template #login>
  <div class="loginDiv">
    <button (click)="auth.login()">Login</button>
  </div>

</ng-template>

<router-outlet></router-outlet>
